@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
body {
  background: #eee9df;
}
.defaultBtn {
  background: #d8a338;
  border: none;
  padding: 8px 40px;
  font-family: "Noto Sans TC", "Microsoft JhengHei", "PingFang", Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
  border-radius: 0.25em;
  display: block;
  text-align: center;
  &:hover,
  &:active {
    color: #fff;
    text-decoration: none;
  }
}

// aminalList
.tips {
  display: flex;
  align-items: center;
  i {
    margin-right: 10px;
  }
  p {
    margin: 0;
    padding: 0;
  }
}
.warmingWrapper {
  background: #e9e3d8;
  box-shadow: 0 0 5px rgba(#000, 0.2);
  padding: 10px 0;
}
.defaultDetailBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 20px;
  background: #e9e3d8;
  border: 1px solid #9c7e61;
  box-sizing: border-box;
  border-radius: 8px;
  font-weight: bold;
  font-size: 20px;
  color: #9c7e61;
  flex: 1;
  &:nth-child(2) {
    margin: 0 10px;
  }
  // margin: 0 10px;
  &.favorIcon {
    flex: 2;
    margin-left: 0;
    &:hover,
    &:active,
    &:focus {
      background: #dad4ca !important;
      border: 1px solid #9c7e61 !important;
      outline: 0;
    }
    @media screen and (max-width: 768px) {
      flex: 1;
    }
  }
}
