.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: none;
  .card-img-top {
    background: #e0e0e0;
    border: none;
    outline: none;
  }
  .imgWrapper {
    max-height: 150px;
    overflow: hidden;
  }
  .card-title {
    display: flex;
    justify-content: space-between;
  }
  .card-text {
    text-align: center;
  }
}
