.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: none;
  color: #444544;
  text-decoration: none;
  a {
    color: #444544;
    text-decoration: none;
  }
  .card-img-top {
    background: #e0e0e0;
    border: none;
    outline: none;
  }
  .imgWrapper {
    // max-height: 150px;
    overflow: hidden;
  }
  .card-title {
    display: flex;
    justify-content: space-between;
  }
  .card-text {
    text-align: center;
  }
}
.isFavorite {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 10px;
  background: #fff;
  border-radius: 50%;
  border: none;
  outline: none;
  padding: 0;
  justify-content: center;
  img {
    width: 36px;
    height: 36px;
  }
  &:hover,
  &:active,
  &:focus {
    background: #fff !important;
    border: none !important;
  }
}
