#filterWrapper {
  /* 尋找我的毛小孩 */
  font-family: GenSenRounded JP;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.05em;
  /* 尋找我的毛小孩 */
  // margin: 30px auto;
  /* Achromatic/dark grey */
  color: #444544;
  @media screen and (max-width: 768px) {
    padding: 0 10px;
  }
  .filterSection {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    min-height: 82px;
    display: flex;
    align-items: center;
    width: fit-content;
    min-width: 700px;
    margin: 0 auto;
    margin-top: 42px;
    padding: 0 10px;
    justify-content: space-between;
    box-sizing: border-box;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      min-width: 50px;
      width: auto;
      padding: 10px;
    }
    .form-group {
      display: flex;
      align-items: center;
      min-width: 20%;
      margin: 0;

      padding-right: 10px;
      min-width: 500px;
      justify-content: space-between;

      .form-control {
        position: relative;
        display: flex;
        align-items: center;
        border: none;
        border-right: 1px solid #e0e0e0;
        border-radius: 0;
        outline: none;
        flex: 1;
        min-width: 100px;
        padding-right: 10px;
        select {
          display: none; /*hide original SELECT element: */
        }
        &.shulter {
          flex-basis: 200px;
        }
        &.animalSelect {
          border: none;
        }
      }
      @media screen and (max-width: 768px) {
        padding: 10px;
        flex-direction: column;
        min-width: 200px;
        .form-control {
          border: 1px solid #e0e0e0;
          margin-bottom: 10px;
          &.animalSelect {
            border: 1px solid #e0e0e0;
          }
        }
      }
    }
    // .dropdown .dropdown-toggle::after {
    //   background: yellow;
    // }
    .filterButton {
      background: #d8a338;
      border: none;
      padding: 10px 40px;
      font-family: Noto Sans TC;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 29px;
      color: #ffffff;
    }
  }

  .filterBorder {
    height: 60px;
    width: 1px;
    border-right: 1px solid #e0e0e0;
  }
}
.btnWrapper {
  margin: auto;
  margin-top: 80px;
  max-width: 248px;
}

.titleWrapper {
  margin-top: 50px;
}

// animalFilterSetting

.animalFilterWrapper {
  #filterWrapper {
    .filterSection {
      margin: 0 auto;
      width: 100%;
      background: #9c7e61;
      border-radius: 0;
      min-height: 50px;
    }
    .form-control {
      background: #9c7e61;
      color: #fff;
      border-right: 0px;
      &.countrys {
        border-right: 0;
        @media screen and (max-width: 768px) {
          border-right: 1px solid #fff;
        }
      }
      &.animalSelect {
        order: -1;
      }
      &.shelter {
        background: #fff;
        color: #9c7e61;
        padding: 0 10px;
        border-radius: 38px;
        min-width: fit-content;
        @media screen and (max-width: 768px) {
          padding: 10px;
        }
      }
    }
    .filterButton {
      padding: 0 20px;
      color: #9c7e61;
      border: 1px solid #9c7e61;
      background: #fff;
      font-size: 15px;
    }
  }
}
