#root {
  margin-top: 65px;
}
.indexBg {
  background: url("../img/index_bg.jpg") repeat 0 -30px;
  background-size: 100%;
  // min-height: 1500px;
  min-height: calc(100vh - 150px);
  box-sizing: border-box;
  padding-bottom: 50px;
  // padding-top: 50px;
  overflow: hidden;
  .swiper-container {
    // max-height: 500px;
    background: #eee9df;
  }
}
.IndexAnimalCard {
  margin: 20px auto;
  margin-top: 142px;
  font-family: "Noto Sans TC", "Microsoft JhengHei", "PingFang", Arial;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.05em;
  /* 尋找我的毛小孩 */
  // margin: 30px auto;
  /* Achromatic/dark grey */
  color: #444544;
  h6 {
    margin-bottom: 84px;
  }
}
